.general-container{
    background: linear-gradient(135deg, #fff7db 10%, #ddc5e4 50%,rgba(255,255,255,0) 100%); 
    padding: 90px 90px 90px 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    margin: 0 auto;
}
.img-container {
    display: flex;
    justify-content: center;
    width: 70%;
    max-width: 250px;
    padding: 50px;
    align-content: center;
}

.logo1 {
    max-width: 2vw;
    height: auto;
    padding:90px;
}

.text-container {
    width: 50%;
    font-size: clamp(16px, 2vw, 20px); /* Ajuste dinámico */
    text-align: justify;
}

/* Pantallas grandes */
@media (min-width: 1200px) {
    .text-container {
        font-size: 16px;
        width: 90%; /* Asegura que el texto no quede muy ancho */
        text-align: center; /* Centrar en móviles */
    }
    .img-container {
        padding: 20px; /* Reduce padding en móviles */
        max-width: 60vw; /* Se adapta mejor a móviles */
    }
}
/*
.contender{
    width: 66.6%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    margin-left: 10%;

}*/

.tarjetas-contacto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    flex-grow: 1;
}

.tarjeta-contacto {
    background: #fff7db;
    border-radius: 15px;
    padding: 20px;
    width: 330px;
    text-align: left;
    line-height: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    flex-grow: 1;
    font-family: 'Livvic', sans-serif;
}

.tarjeta-valores:hover {
    transform: translateY(-5px);
}

.contender h2{
    text-align: center;
}

.base-2 {
    padding: 50px;
}

.base-1 {
    padding: 10px;
}

h2 {
    font-size: clamp(20px, 2.5vw, 32px); /* Mínimo 20px, ajusta con el ancho de la pantalla, máx 32px */
    line-height: 45px;
}

h3 {
    font-size: clamp(16px, 2vw, 24px); /* Mínimo 16px, ajusta con el ancho, máx 24px */
}

.btn {
    font-size: clamp(14px, 1.8vw, 20px);
}

/* En dispositivos móviles, el logo irá arriba */
@media (max-width: 768px) {
    .general-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        line-height: 40px;
    }
    .img-container {
        order: -1; /* Mueve el logo arriba */
        padding: 50px;
    }
    .text-container {
        width: 100%;
    }
}
