.general-container{
    background: linear-gradient(135deg, #fff7db 10%, #ddc5e4 50%,rgba(255,255,255,0) 100%); 
    padding: 90px 90px 90px 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 40px;
    margin: 0 auto;
}
.img-container {
    display: flex;
    justify-content: center;
    width: 70%;
    max-width: 300px;
    padding: 100px;
    align-content: center;
}

.logo1 {
    max-width: 2vw;
    height: auto;
    padding:90px;
}

.text-container {
    width: 50%;
    font-size: 20px;
    text-align: justify;
}

/* Pantallas grandes */
@media (min-width: 1200px) {
    .text-container {
        font-size: 22px;
    }
}

.h2-formulario {
    font-size: clamp(20px, 2.5vw, 32px); /* Mínimo 20px, ajusta con el ancho de la pantalla, máx 32px */
    font-family: 'Nourd', sans-serif;
    line-height: 1.1;
    font-weight: bold;
}

.h3-formulario {
    font-size: clamp(16px, 2vw, 24px); /* Mínimo 16px, ajusta con el ancho, máx 24px */
    font-family: 'Livvic', sans-serif;
    font-weight: lighter;
    line-height: 1.7;
}
/*
.contender{
    width: 66.6%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    margin-left: 10%;

}*/

.btn{
    background-color: #41b79f;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration:none;
    font-size: 1rem
}

.btn-us{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contender h2{
    text-align: center;
}

.base-2 {
    padding: 50px;
}

.base-1 {
    padding: 10px;
}

h2 {
    font-size: clamp(20px, 2.5vw, 32px); /* Mínimo 20px, ajusta con el ancho de la pantalla, máx 32px */
    line-height: 45px;
}

h3 {
    font-size: clamp(16px, 2vw, 24px); /* Mínimo 16px, ajusta con el ancho, máx 24px */
}

.btn {
    font-size: clamp(14px, 1.8vw, 20px);
}

/* En dispositivos móviles, el logo irá arriba */
@media (max-width: 768px) {
    .general-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        line-height: 40px;
    }
    .img-container {
        order: -1; /* Mueve el logo arriba */
        padding: 50px;
    }
    .text-container {
        width: 100%;
    }
}
