@font-face {
  font-family: 'Nourd';
  src: url(./Fuentes/nourd_regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url(./Fuentes/Livvic-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce';
  src: url(./Fuentes/OpenSauceSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir Narrow';
  src: url(./Fuentes/agrandir-narrow.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face{
  font-family: 'Open Sauce';
  src: url(./Fuentes/OpenSauceSans-Regular.ttf);

  font-family: 'Agrandir Narrow';
  src: url(./Fuentes/agrandir-narrow.otf);

  font-family: 'Nourd';
  src: url(./Fuentes/nourd_regular.ttf);

  font-weight: bold;
  font-style: bold;
}
  */

* {
  margin: 0;
  padding: 0;
  font-family: 'Nourd';
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-size: 24px;
  line-height: 54px;
  background-color: #fff7db;
  display: flex;
  flex-direction: column;
  
}

.General {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 200px;
}

/* Cuerpo principal de la página */
.main-content {
  flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}